.btn{
    font-weight: bold;
    border: none;
    background-color: #00a7e7;
    border-radius: 5px;
    display: inline-block;
    padding-top: 18px;
    padding-right: 44px;
    padding-left: 52px;
    padding-bottom: 15px;
    color: white;
    font-size: 21px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 6px;
    cursor: pointer;
}

.btn:hover {opacity: 0.4}