$color-base-1:red;
$color-article-top: #b3b3b3;
$color-article-bot: #ffffff;
$general-borders: #ababab;
$shadow-color: #e1e1e1;
$button-color: #00a7e7;
$font-header: #ffffff;
$background-header: #000000;

$fake-placeholder-color: #757575;
